/* Master styles*/


body {
     margin: 10px;

}

/* Navbar container */
.container{
    display: grid;
    grid-template-columns: 1fr;
}



/* Navigation styles */
.nav-wrapper{
    display: flex;
	justify-content: space-between;
	padding: 38px;

}


.left-side{
    display: flex;


}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
	font-size: 2em;


}

.nav-link-wrapper{
    height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;

}

.right-side{
  display: flex;
	color: #4169E1;
	text-decoration: none;
	margin-right: 20px;
	font-size: 2em;
}

.nav-link{
  font-size: 120%;
}


/*Other styles*/

.wrapper{
    display: flex;
	  flex-flow: row wrap;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.wrapper >* {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.Greeting {
    background: purple;
    padding-left: 50px;
    font-size: 120%;
}

.Profile-image {
    background: yellow;
    width: 250px;
    height: 250px;
    flex: 1 1 200px;
    padding-right: 50px;
}

.Contact {
    background: green;
    text-align: left;
    font-size: 120%;
}

@media all and (min-width: 800px) {
  .Greeting{
    flex: 3;
  }
  .Profile-image {
    order: 1;
  }
  .Greeting{
    order: 1;
  }
  .Contact{
    order: 2;
  }
}

@media all and (min-width: 600px) {
  .Profile-image{
    flex: 1;
  }
}

.Greeting h1 {
    color: black;
}

.par {
  text-align: justify;
  margin: 10px 50px 15px 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.parabstract {
  text-align: justify;
  margin: 10px 50px 15px 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

h3 {
    margin: 10px 50px 15px 40px;
	  font-family: Arial, Helvetica, sans-serif;
	  color: #6495ED
}

.contact-header {
    margin: 30px 50px 15px 40px;
	  font-family: Arial, Helvetica, sans-serif;
}

.contact-details-list{
    padding: 40;
    list-style-type: none;
	  font-family: Arial, Helvetica, sans-serif;
}

.teaching-list{
    padding: 40;
	  font-family: Arial, Helvetica, sans-serif;
}

/*.center{
    display: block;
    margin-left: 50;
	  margin-right: auto;
	  width: 50%;
}*/
