/* Master styles*/

body {
     margin: 10px;

}

/* Navbar container */
.container{
    display: grid;
    grid-template-columns: 1fr;
}



/* Navigation styles */
.nav-wrapper{
    display: flex;
	justify-content: space-between;
	padding: 38px;

}


.left-side{
    display: flex;


}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
	font-size: 2em;


}

.nav-link-wrapper{
    height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;

}

.right-side{
  display: flex;
	color: #4169E1;
	text-decoration: none;
	margin-right: 20px;
	font-size: 2em;
}

.nav-link{
  font-size: 120%;
}
